{{ $style := resources.Get "css/home.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{ $sectionTitle := .Scratch.Get "sectionTitle" }}
{{ with (index .Site.Data.landing $sectionTitle) }}
{{ if eq .enable true }}
<!-- Hero Start -->

<!-- Hero Section -->
    <section class="hero">
        <div class="container hero-grid">
            <!-- Left Side: Content -->
            <div class="hero-text">
                <h1>Fast, Flexible, Fearless 
                </br>Data Storage</h1>
                <p>Fleare delivers high-performance distributed in-memory data storage with native support for strings, JSON objects, arrays and more. 
                    Built for speed and reliability, it provides command line interface with modern flexibility to handle
                     complex data structures effortlessly</p>
                <div class="group-btns">
                    <a href="/docs/download" class="btn-download">Download Now</a>
                    <a href="/docs" class="btn-download-outline">Get Started</a>
                </div>
            </div>

            <!-- Right Side: Image -->
            <div class="hero-image">
                <img src="/docs/images/home_hero.svg" alt="App Preview">
            </div>
        </div>
        
    </section>

    <!-- Cards Section -->
    <section class="features">
        <h3 class="features-header">
            <span class="features-header-big-text">High-Performance</span> 
            <span class="features-header-gradiant-text ">key-value store</span> 
            that adapts to your data needs
        </h3>
        <div class="container download-card-container">
            <div class="download-card">
                <img src="/docs/images/cli.png" alt="">
                <h4>Command Line Support Future-Ready</h4>
                <p>Command Line interface, Fleare offers familiar commands enhanced with modern capabilities. Features include JSON path operations, list filtering, reference linking, and distributed architecture designed for today's scalable applications.</p>
                <a href="docs/cli-commands">Learn More</a>
            </div>
            <div class="download-card">
                <img src="/docs/images/key-value.png" alt="">
                <h4>Beyond Key-Value: Store Everything</h4>
                <p>More than traditional key-value storage, Fleare handles complex JSON operations, array manipulations, and nested data structures. With multiple client support and configurable logging, it's the modern database solution for applications requiring cache data management.</p>
                <a href="docs/cli-commands/json-commands">Learn More</a>
            </div>
            <div class="download-card">
                <img src="/docs/images/data-set.png" alt="">
                <h4>One Database, Every Data Type</h4>
                <p>Seamlessly store strings, JSON objects, and arrays in one powerful system. Fleare's comprehensive command set includes JSON, LIST, NUMBER, STRING etc and advanced operations like JSON.SETREF for creating relationships between documents—all with enterprise-grade performance.</p>
                <a href="docs/configure/config">Learn More</a>
            </div>
        </div>
    </section>
<!-- Hero End -->
{{ end }}
{{ end }}